.styled-table {
    border-collapse: collapse;
    margin: 25px 0 ;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:hover{
    font-weight: bold;
    color: #009879;
    border-bottom: 2px solid #009879;
    background-color: #f3f3f3;
}
#trash{
    font-size: 23px;
    padding: 10px;
}
#trash:hover{
    cursor: pointer;
}
#pen{
    font-size: 23px;
}
.ajouter button{
    display: block;
    float: right;
    line-height: 12pt* 2;
    padding: 10px 35px ;
    border: 12px;
    background: #009879;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin-top: 13pt;
    margin-bottom: 15px;
}
  .ajouter  button:hover{
    cursor: pointer;
  background-color:  #000000 ;
 
  }
  .categories h2{
    position: relative;
    top: 15px;
    bottom: 20px;
  }
  .Souscategories h2{
    position: relative;
    top: 15px;
    bottom: 20px;
  }